description: Tools use example
prompt: |-
    {prompt}
template:
    afterSystem: |-
        
        You are an AI touristic assistant
ctx: 8192
model:
    name: qwen4b-nt
    template: chatml-tools
inferParams:
    top_k: 0
    top_p: 1.0
    min_p: 0.05
    temperature: 0.2
    max_tokens: 4096
toolsList:
    - weather # from the tool declared in actions/weather.py
    - traffic # from the tool declared in actions/traffic.js