node_modules
.DS_Store
dist
dist-ssr
!/doc/dist
!/packages/features/git/dist
*.local
yarn.lock
yarn-error.log
.yarnrc
/dev
.vscode
package-lock.json
examples/data
coverage
/server/server
/server/server.exe
/server/build
/server/server.config.yaml
server.config.yaml
.aider*
.continue
